/* Font Liscence
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=7a4216be-06fd-445e-91f9-348b948ab87b");


Example:

@font-face {
	font-family:'ProximaCond';
src:url("Fonts/9078f77e-dddf-495b-a468-f03b3b7aa12c.eot?#iefix");
src:url("Fonts/9078f77e-dddf-495b-a468-f03b3b7aa12c.eot?#iefix") format("eot"),url("Fonts/317fd159-159d-4870-a01f-ef9d5a71d5b3.woff2") format("woff2"),url("Fonts/8e5dbeb3-4068-4196-83a4-c86fe35c8b65.woff") format("woff"),url("Fonts/f6c936c3-3828-4625-babb-e900c2afe00d.ttf") format("truetype"),url("Fonts/87761033-3af1-450a-8cdd-2321b6a595f9.svg#87761033-3af1-450a-8cdd-2321b6a595f9") format("svg");
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
}
*/

@font-face {
	font-family: 'Copperplate';
	src: url('fonts/Copperplate-Bold.eot');
	src: url('fonts/Copperplate-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Copperplate-Bold.woff') format('woff'),
		url('fonts/Copperplate-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Ubuntu-font';
    src: url('fonts/ubuntu-bold-webfont.eot');
    src: url('fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff'),
         url('fonts/ubuntu-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'fonts/Ubuntu-font';
    src: url('fonts/ubuntu-bolditalic-webfont.eot');
    src: url('fonts/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bolditalic-webfont.woff') format('woff'),
         url('fonts/ubuntu-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}
@font-face {
    font-family: 'Ubuntu-font';
    src: url('fonts/ubuntu-regular-webfont.eot');
    src: url('fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('fonts/ubuntu-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Ubuntu-font';
    src: url('fonts/ubuntu-italic-webfont.eot');
    src: url('fonts/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-italic-webfont.woff') format('woff'),
         url('fonts/ubuntu-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}



@font-face {
    font-family: 'kirsty';
    src: url('fonts/kirsty_bd_it-webfont.eot');
    src: url('fonts/kirsty_bd_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kirsty_bd_it-webfont.woff2') format('woff2'),
         url('fonts/kirsty_bd_it-webfont.woff') format('woff'),
         url('fonts/kirsty_bd_it-webfont.ttf') format('truetype'),
         url('fonts/kirsty_bd_it-webfont.svg#kirstybold_italic') format('svg');
    font-weight: 800;
    font-style: italic;

}




@font-face {
    font-family: 'kirsty';
    src: url('fonts/kirsty_bd-webfont.eot');
    src: url('fonts/kirsty_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kirsty_bd-webfont.woff2') format('woff2'),
         url('fonts/kirsty_bd-webfont.woff') format('woff'),
         url('fonts/kirsty_bd-webfont.ttf') format('truetype'),
         url('fonts/kirsty_bd-webfont.svg#kirstybold') format('svg');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'kirstyink';
    src: url('fonts/kirsty_ink-webfont.eot');
    src: url('fonts/kirsty_ink-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kirsty_ink-webfont.woff2') format('woff2'),
         url('fonts/kirsty_ink-webfont.woff') format('woff'),
         url('fonts/kirsty_ink-webfont.ttf') format('truetype'),
         url('fonts/kirsty_ink-webfont.svg#kirstyink') format('svg');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'kirsty';
    src: url('fonts/kirsty_rg_it-webfont.eot');
    src: url('fonts/kirsty_rg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kirsty_rg_it-webfont.woff2') format('woff2'),
         url('fonts/kirsty_rg_it-webfont.woff') format('woff'),
         url('fonts/kirsty_rg_it-webfont.ttf') format('truetype'),
         url('fonts/kirsty_rg_it-webfont.svg#kirstyitalic') format('svg');
    font-weight: 700;
    font-style: italic;

}


@font-face {
    font-family: 'kirsty';
    src: url('fonts/kirsty_rg-webfont.eot');
    src: url('fonts/kirsty_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/kirsty_rg-webfont.woff2') format('woff2'),
         url('fonts/kirsty_rg-webfont.woff') format('woff'),
         url('fonts/kirsty_rg-webfont.ttf') format('truetype'),
         url('fonts/kirsty_rg-webfont.svg#kirstyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
